@media ( max-width: 768px ) {

    .register-form-container {
        width: 80%;
    }
    
}



@media ( max-width: 600px ) {

    .login-form-container {
        width: 80%;
    }

    .submit-btn-wrapper {
        text-align: center;
    }

    .login-btn, .submit-btn {
        float: none;
        width: 100%;
    }

    .form-forgot-wrapper {
        text-align: center;
        margin-bottom: 25px;
    }

}
