body {
    background-color: #EFEFEB;
}

.wall {
    height: 300px;
    background-color: #26a69a;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/********** Login **********/

.login-form-container {
    width: 500px;
    margin: auto;
}

.login-form {
    background-color: #fff;
    min-height: 450px;
    margin-top: -58px;
}

.login-form .login-form-header {
    color: #26a69a;
    font-size: 18px;
    font-weight: bold;
}

.login-form .divider, .register-form .divider {
    margin-bottom: 50px;
}

.login-form .password-field {
    margin-bottom: 30px;
}

.login-form .login-btn-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-form .register-btn-wrapper {
    text-align: center;
}

.login-form .register-btn-wrapper a {
    color: #26a69a;
}

.login-field {
    margin-bottom: 15px;
}

.login-field .help-block {
    font-size: 10px;
    color: red;
    margin-left: 3rem;
    width: calc(100% - 3rem);
    margin-top: -10px;
}

.login-field .form-group label {
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.login-field .form-group input {
    margin-left: 3rem;
    width: calc(100% - 3rem);
}

.login-field .material-icons {
    top: 0;
}

.submit-btn {
    float: right;
}

/********** Registration **********/

.register-form-container {
    width: 650px;
    margin: auto;
}

.register-form {
    background-color: #fff;
    min-height: 450px;
    margin-top: -94px;
    padding-bottom: 30px;
}

.register-form .register-form-header {
    color: #26a69a;
    font-size: 22px;
    font-weight: bold;
}

.register-form .section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.register-form .divider {
    margin-bottom: 15px;
}

.register-form .row {
    margin-bottom: 0;
}

.gender-wrapper {
    padding-top: 30px;
}

.gender-radio, .role-radio {
    display: inline-block;
}

.submit-btn-wrapper {
    padding-top: 24px;
    margin-right: 10px;
}

.register-form .input-field {
    margin-bottom: 15px;
}

.register-form .input-field .help-block {
    font-size: 10px;
    color: red;
    margin-top: -10px;
}

/********** Main Page **********/

/********** Header **********/

.top-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.top-header .logo {
    background-color: #26a69a;
    width: 220px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    position: absolute;
}

.top-header .logo a {
    color: #fff;
    font-size: 24px;
    vertical-align: middle;
}

.top-header .top-nav {
    background-color: #fff;
    width: 100%;
    height: 64px;
    padding: 0 0 0 220px;
}

.top-header .top-nav:after {
    display: block;
    content: '';
    clear: both;
}

.top-header .nav-profile {
    margin: 0;
}

.top-header .nav-profile li {
    float: left;
}

.top-header .nav-profile li a {
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    color: #26a69a;
}

.top-header .nav-profile li a:hover {
    background-color: rgba(158,158,158,0.2);
}

.top-header .nav-profile li a .material-icons {
    line-height: 64px;
}

/********** Left Nav **********/

.nav-container {
    position: fixed;
    top: 64px;
    bottom: 0;
    float: none;
    background-color: #262B33;
    width: 55px;
    overflow: hidden;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
}

.nav-container.hover-menu {
    width: 220px;
}

.nav-container .nav-main li {
    min-width: 220px;
}

.nav-container .nav-main a {
    display: block;
    padding: 15px 15px;
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.nav-container .nav-main a:hover {
    color: rgba(255,255,255,0.8);
}

.nav-container .nav-main a i {
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.nav-container.hover-menu .nav-main a i {
    font-size: 16px;
}

.nav-container .nav-main a span {
    vertical-align: bottom;
}

.nav-container .nav-main .side-logout {
    position: absolute;
    bottom: 10px;
}

/********** Main Content **********/

.main-container {
    padding-top: 64px;
}

.content-container {
    margin-left: 55px;
    -webkit-transition: margin-left 0.25s ease-in-out;
    -moz-transition: margin-left 0.25s ease-in-out;
    transition: margin-left 0.25s ease-in-out;
}

.content-container.hover-menu {
    margin-left: 220px;
}

.content-container .page-dashboard {
    padding: 15px 30px;
}

.content-container .page-dashboard .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e2edeb;
    border-radius: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.surveys-table th, .surveys-table td {
    padding: 15px 25px;
}

.surveys-table th {
    color: #26a69a;
}

.surveys-table a, .roles-table a, .departments-table a {
    color: #262B33
}

.surveys-table i, .roles-table i, .departments-table i {
    font-size: 20px;
    margin-right: 5px;
}

.content-container .createSurvey-wrapper {
    width: 800px;
    min-height: 400px;
    margin: auto;
    padding-bottom: 50px;
}

.content-container .createSurvey-wrapper .title-field {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.content-container .createSurvey-wrapper .assignee-section {
    margin-top: 40px;
}

.content-container .createSurvey-wrapper .drop-down {
    display: inline-block;
    width: 48%;
}

.content-container .createSurvey-wrapper .drop-down.last {
    float: right;
}

.content-container .createSurvey-wrapper .drop-down .material-icons {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
}

.content-container .createSurvey-wrapper .drop-down .select-wrapper {
    margin-left: 3rem;
}

.content-container .createSurvey-wrapper .drop-down .select-wrapper .select-dropdown {
    margin-bottom: 0;
}

.content-container .createSurvey-wrapper .drop-down label {
    left: 3rem;
    margin-top: -27px;
    font-size: 0.8rem;
}

.content-container .createSurvey-wrapper .datepicker-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.content-container .createSurvey-wrapper .datepicker-wrapper {
    position: relative;
    display: inline-block;
    width: 48%;
    overflow: hidden;
}

.content-container .createSurvey-wrapper .end-date {
    float: right;
}

.content-container .createSurvey-wrapper .datepicker-wrapper label {
    margin-left: 3rem;
}

.content-container .createSurvey-wrapper .datepicker-wrapper input {
    margin-bottom: 1px;
    margin-left: 3rem;
}

.content-container .createSurvey-wrapper .datepicker-wrapper .material-icons {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
}

.content-container .createSurvey-wrapper .lets-go {
    text-align: center;
}

.content-container .createRole-wrapper, .content-container .createDepartment-wrapper {
    width: 800px;
    min-height: 200px;
    margin: auto;
}

.content-container .createRole-wrapper .input-field, .content-container .createDepartment-wrapper .input-field {
    margin: 40px 0;
}

.content-container .createRole-wrapper .create-role-btn, .content-container .createDepartment-wrapper .create-department-btn {
    text-align: center;
}


.questions-form-container {
    width: 900px;
    margin: auto;
    padding-bottom: 50px;
    position: relative;
}

.questions-form-container .option-wrapper {
    width: 25%;
}

.questions-form-container .add-option a {
    color: #26a69a;
}

.multiple-choice-question .delete-question {
    position: absolute;
    right: 0;
    bottom: 50px;
    color: #26a69a;
}

.essay-question .delete-question {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #26a69a;
}

.viewSurvey-wrapper {
    width: 800px;
    min-height: 400px;
    margin: auto;
    padding-bottom: 50px;
}

.viewSurvey-wrapper .survey-title-wrapper {
    text-align: center;
}

.viewSurvey-wrapper .survey-title-wrapper .survey-title {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 70px;
    color: #26a69a;
    border-bottom: 1px solid #262B33;
    padding: 0 10px 10px;
}

.viewSurvey-wrapper .assignee-section, .viewSurvey-wrapper .date-section {
    display: inline-block;
    width: 48%;
}

.viewSurvey-wrapper .date-section {
    text-align: right;
}

.viewSurvey-wrapper label {
    color: #26a69a;
    font-size: 14px;
    margin-right: 5px;
}

.viewSurvey-wrapper .general-info-wrapper {
    padding-bottom: 20px;
    margin-bottom: 70px;
}

.viewSurvey-wrapper .question-container .question-body-wrapper {
    margin-bottom: 10px;
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.viewSurvey-wrapper .question-container .question-body-wrapper .option {
    margin-left: 30px;
    font-size: 14px;
    color: #666;
    font-weight: normal;
}

.update-questions-wrapper {
    margin-top: 140px;
    margin-bottom: 50px;
}

.update-questions-wrapper .question-body-wrapper {
    margin-bottom: 70px;
}

.update-questions-wrapper .question-body-wrapper .material-icons {
    position: absolute;
    top: 16px;
    color: #999;
}

.update-questions-wrapper .question-body-wrapper .question-body {
    margin-left: 40px;
    width: 80%;
}

.update-questions-wrapper .question-body-wrapper .option {
    width: 25%;
    margin-left: 40px;
}

.add-questiontype-wrapper .add-question, .add-questiontype-wrapper .add-essay {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    border-left: 1px solid #26a69a;
}

.add-questiontype-wrapper .add-question a, .add-questiontype-wrapper .add-essay a {
    color: #26a69a;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.add-questiontype-wrapper .add-question a:hover, .add-questiontype-wrapper .add-essay a:hover {
    color: #262B33;
    padding-left: 20px;
}

.survey-question-wrapper .essay-answer-wrapper {
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.survey-question-wrapper .essay-answer-wrapper .question-title {
    margin-bottom: 30px;
}

.survey-question-wrapper .essay-answer-wrapper .essay-answer-body {
    color: #999;
    padding: 20px 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #999;
    font-size: 16px;
}

.statistics-container .viewSurvey-wrapper {
    min-height: 0;
}

.multiple-choice-question .option-wrapper {
    position: relative;
}

.multiple-choice-question .option-wrapper .remove-option {
    position: absolute;
    right: -50px;
    bottom: 5px;
    font-size: 20px;
    color: #26a69a;
}

/********** Users Managment **********/

.users-managment-links-container {
    min-height: 300px;
    padding: 0 50px;
}

.users-managment-links-container .users-managment-title {
    color: #26a69a;
    display: inline-block;
    border-bottom: 1px solid #262B33;
    width: 240px;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.users-managment-links-container .users-managment-link {
    margin-bottom: 20px;
}

.users-managment-links-container .users-managment-link a {
    color: #26a69a;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.users-managment-links-container .users-managment-link a:hover {
    color: #262B33;
}

.users-managment-links-container .users-managment-link .material-icons {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.users-managment-links-container .users-managment-link a:hover .material-icons {
    margin-right: 20px;
    color: #26a69a;
}